/*
Imports
*/
@import 'core';

/*
Debug styles
*/
// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }



/*
Body
*/
body {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: $white;
  background-color: $black;
}
//
// ::-moz-selection { background-color: $pink; color: #fff; text-shadow: none; }
// ::selection { background-color: $pink; color: #fff; text-shadow: none; }
//
/*
Layout
*/
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.waveform {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 80%;
}



/*
Waveform nodes
*/
.waveform__node {
  width: 1px;
  background-color: $white;

  animation-duration: 1s;
  animation-name: pulsedown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  &:nth-child(2n+1) {
    animation-duration: 10s;
  }

  &:nth-child(3n+1) {
    animation-duration: 9.8s;
  }

  &:nth-child(4n+1) {
    animation-duration: 10.2s;
  }

  &:nth-child(odd) {
    animation-name: pulsedown;
  }

  &:nth-child(even) {
    animation-name: pulseup;
  }
}

@-webkit-keyframes pulsedown {
  from {
    transform: scaleY(1) translateX(-2px);
  }

  to {
    transform: scaleY(0.9) translateX(2px);
  }
}

@-webkit-keyframes pulseup {
  from {
    transform: scaleY(1) translateX(-1px);
  }

  to {
    transform: scaleY(1.1) translateX(2px);
  }
}
